In [2]:
##variable Assignments
a = 5

In [5]:
a

5

In [8]:
a = 10

In [11]:
a+a

20

In [20]:
a= a+a

In [23]:
a

320

In [26]:
##give the type of variable
type(a)

float

In [27]:
a = 30.1

In [28]:
##introduce to string
'hello'
"world"
'this is also a string'
"i'm going on a run"

"i'm going on a run"

In [30]:
print('hello')

hello

In [37]:
print('hello \nworld')
##\n is new line in print function
##\t is tab

hello
world

In [39]:
##length function to check the length of string
len('im hungry')

9

In [41]:
#indexig and slicing with strings
mystring = 'hello world'
mystring[0]

'h'

In [43]:
print(mystring[0])

h

In [46]:
mystring[-3]

'r'

In [64]:
mystring = 'abcdefghijk'

In [50]:
mystring[2:]

'cefghijk'

In [53]:
mystring[:3]

'abc'

In [54]:
mystring[-1]

'k'

In [57]:
mystring[3:5]

'ef'

In [61]:
#start letter index and the one after last letter, not include 6 in this case
mystring[3:6]
#step size, jumping by 2
mystring[::2]

'acfhj'

In [67]:
#2 start index, 7 stop index, 2 step wise index 
mystring[2:7:2]

'ceg'

In [68]:
#reverse string
mystring[::-1]

'kjihgfedcba'

In [69]:
#string property and methods
#immutability: can't change

name = 'Sam'
#you can't do this:
name[0] = 'p'

TypeError: 'str' object does not support item assignment

In [71]:
last_letters = name [1:]

In [73]:
last_letters

'am'

In [75]:
'P' + last_letters

'Pam'

In [78]:
x = 'Hello World'
x + ' it is beautiful outside!'

'Hello World it is beautiful outside!'

In [79]:
letter = 'z'
#get z 10 times
letter * 10

'zzzzzzzzzz'

In [80]:
2 + 3

5

In [81]:
'2' + '3'

'23'

In [83]:
x.upper()

'HELLO WORLD'

In [86]:
x.lower()

'hello world'

In [87]:
x.split()

['Hello', 'World']

In [88]:
x = 'Hi this is a string'

In [90]:
#split by space
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [91]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

In [ ]:
#printing format

In [3]:
print('this is a string {}'.format('INSERTED'))

this is a string INSERTED

In [5]:
print('The {} {} {}'.format('fox','brown', 'quick'))

The fox brown quick

In [8]:
print('The {2} {1} {0}'.format('fox','brown', 'quick'))

The quick brown fox

In [9]:
print('The {b} {q} {f}'.format(f='fox',b='brown',q='quick'))

The brown quick fox

In [10]:
#float formatting follows 
result = 100/777

In [11]:
result

0.1287001287001287

In [16]:
print("The result was {}".format(result))

The result was 0.1287001287001287

In [19]:
print("The result was {r:1.3f}".format(r=result))

The result was 0.129

In [20]:
print("The result was {r:10.3f}".format(r=result))

The result was      0.129

In [22]:
name = 'Jose'

In [23]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [24]:
name = 'Sam'
age = 3

In [25]:
print(f'{name} is {age} years old.')

Sam is 3 years old.

In [26]:
##list
my_list = [1,2,3]

In [27]:
my_list = ['STRING', 100, 23.2]

In [28]:
len(my_list)

3

In [29]:
mylist = ['one', 'two', 'three']

In [30]:
mylist[0]

'one'

In [31]:
mylist[1:]

['two', 'three']

In [32]:
another_list = ['four','five']

In [33]:
mylist + another_list

['one', 'two', 'three', 'four', 'five']

In [34]:
new_list = mylist + another_list

In [35]:
new_list

['one', 'two', 'three', 'four', 'five']

In [36]:
new_list[0] = 'ONE ALL CAPS'

In [37]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [38]:
new_list.append('six')

In [39]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [40]:
new_list.pop()

'six'

In [41]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [42]:
popped_item = new_list.pop()

In [43]:
popped_item

'five'

In [44]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four']

In [45]:
new_list.pop(0)

'ONE ALL CAPS'

In [46]:
new_list

['two', 'three', 'four']

In [47]:
new_list = ['a','e','x','b','c']
num_list = [4,1,8,3]

In [49]:
new_list.sort()

In [50]:
new_list

['a', 'b', 'c', 'e', 'x']

In [51]:
num_list.sort()

In [52]:
num_list

[1, 3, 4, 8]

In [53]:
#don't do this
mynewlist = new_list.sort()

In [54]:
type(mynewlist)

NoneType

In [55]:
num_list.reverse()

In [56]:
num_list

[8, 4, 3, 1]

In [57]:
#dictionary
my_dict = {'key1': 'value1','key2':'value2'}

In [58]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [59]:
my_dict['key1']

'value1'

In [61]:
price_lookup = {'apple': 2.99, 'Oranges': 1.99, 'milk': 5.80}

In [62]:
price_lookup ['apple']

2.99

In [63]:
d = {'k1':123, 'k2':[0,1,2],'k3':{'Insidekey':100}}

In [64]:
d['k2']

[0, 1, 2]

In [65]:
d

{'k1': 123, 'k2': [0, 1, 2], 'k3': {'Insidekey': 100}}

In [66]:
d['k2']

[0, 1, 2]

In [68]:
d['k3']['Insidekey']

100

In [70]:
d = {'key1':['a','b','c']}

In [71]:
mylist = d['key1']

In [72]:
mylist

['a', 'b', 'c']

In [73]:
letter = mylist[2]

In [74]:
letter

'c'

In [75]:
letter.upper()

'C'

In [76]:
d['key1'][2].upper()

'C'

In [77]:
d = {'k1':100, 'k2':200, 'k3':300}

In [78]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [79]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [80]:
d.values()

dict_values([100, 200, 300])

In [2]:
#tuple
t = (1,2,3)

In [3]:
mylist = [1,2,3]

In [4]:
type(t)

tuple

In [5]:
type(mylist)

list

In [6]:
len(t)

3

In [7]:
len(mylist)

3

In [8]:
t=('one',2)

In [9]:
t[0]

'one'

In [10]:
t[-1]

2

In [11]:
t = ('a','a','b')

In [12]:
t.count('a')

2

In [13]:
 t.index('a')

0

In [14]:
mylist

[1, 2, 3]

In [15]:
mylist[0] = 'New'

In [16]:
t[0]= 'new'

TypeError: 'tuple' object does not support item assignment

In [17]:
#Sets in python: can't have number or item more, only unique values 
myset = set()

In [18]:
myset

set()

In [19]:
myset.add(1)

In [20]:
myset

{1}

In [21]:
myset.add(2)

In [22]:
myset

{1, 2}

In [23]:
myset.add(2)

In [24]:
myset

{1, 2}

In [25]:
mylist = [1,1,1,1,1,1,2,2,2,2,3,3,3,3]

In [26]:
set(mylist)

{1, 2, 3}

In [27]:
#boolean in python

In [28]:
True

True

In [30]:
#I/O with basic files

UsageError: %%writefile is a cell magic, but the cell body is empty.

In [33]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [34]:
myfile = open('myfile.txt')

In [35]:
myfile = open('whoops_wrong.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'whoops_wrong.txt'

In [36]:
pwd

'C:\\Users\\wenzhao.yang'

In [37]:
myfile = open('myfile.txt')

In [38]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [40]:
myfile.read()

''

In [43]:
myfile.seek(0)

0

In [44]:
content = myfile.read()

In [45]:
content

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [46]:
myfile.seek(0)

0

In [47]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line']

In [48]:
#myfile = opne("C:\\Users\\Username\\Folder\\test.txt")

In [49]:
pwd

'C:\\Users\\wenzhao.yang'

In [51]:
myfile.close()

In [53]:
myfile = open('myfile.txt')

In [54]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [55]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [56]:
with open('myfile.txt',mode='r') as myfile:
    contents = myfile.read()

In [57]:
with open('myfile.txt',mode='w') as myfile:
    contents = myfile.read()
#r for read, w for write, a for append
#r+ is reading and writing
#w+ is writing and reading

UnsupportedOperation: not readable

In [71]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting my_new_file.txt

In [ ]:
with open('my_new_file.txt', mode = 'r') as f:
    print(f.read())

In [72]:
with open('my_new_file.txt', mode = 'a') as f:
    f.write('\nFOUR ON FOURTH')

In [73]:
with open('asdfhsaufsa.txt', mode = 'w') as f:
    f.write('I create this file')

In [76]:
with open('asdfhsaufsa.txt',mode = 'r') as f:
    print(f.read())

I create this file

'Hello this is a text file\nthis is the second line\nthis is the third line'